/* 重置 */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "微軟正黑體", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  display: inline-block;
}
a:hover {
  font-weight: bolder;
}
img,
iframe {
  width: 100%;
}
ul,
ol {
  list-style: none;
}
input,
button,
textarea {
  display: inline-block;
  background-color: transparent;
  border: 0;
}
.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

/* 英文對齊 */
[lang-size="en"] p {
  text-align: left;
}
/* 文字段落左右對齊 */
p:not(.price) {
  text-align: justify;
}

/* 外距 */
/* 5px */
.mb-03125 {
  margin-bottom: 0.3125rem;
}
/* 10px */
.my-0625 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
/* 30px */
.mt-1875 {
  margin-top: 1.875rem;
}
/* 100px */
.mt-625 {
  margin-top: 6.25rem;
}

/* 內距 */
/* 5px */
.py-03125 {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}
/* 30px */
.py-1875 {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}
/* 20px */
.p-125 {
  padding: 1.25rem;
}

/* 色彩 */

/* 搜尋輸入框啟用後的外觀設定 */
.search-form .search-input:focus {
  outline: none;
}
.search-btn:hover {
  background-color: #d4d4d44d !important;
}

/* 商品列表 */
#hot-product .card ul,
#new-product .card ul {
  bottom: -60px;
  transition: 0.3s;
}
#hot-product .card:hover ul,
#new-product .card:hover ul {
  bottom: 0;
}
#hot-product .card ul li:hover,
#new-product .card ul li:hover {
  background-color: #d3d3d32f;
}
#hot-product .card-text span:nth-of-type(1)::before,
#new-product .card-text span:nth-of-type(1)::before,
#hot-product .card-text span:nth-of-type(3)::before,
#new-product .card-text span:nth-of-type(3)::before {
  content: "NT$ ";
}
#hot-product .card-text span:nth-of-type(1)::after,
#new-product .card-text span:nth-of-type(1)::after,
#hot-product .card-text span:nth-of-type(3)::after,
#new-product .card-text span:nth-of-type(3)::after {
  content: " 元";
}

/* 只有首頁顯示通知訊息 */
body .notify:not(#home .notify) {
  display: none;
}

/* 聯絡表單textarea設為不能改變寬高並固定高度 */
#for-message {
  resize: none;
  height: 150px;
}