/* 重置 */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "微軟正黑體", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  display: inline-block;
}
img,
iframe {
  width: 100%;
}
ul,
ol {
  list-style: none;
}
input,
button,
textarea {
  display: inline-block;
  background-color: transparent;
  border: 0;
}
.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
/* 英文對齊 */
[lang-size="en"] p {
  text-align: left;
}

/* 外距 */
/* 5px */
.mb-03125 {
  margin-bottom: 0.3125rem;
}
/* 10px */
.my-0625 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
/* 100px */
.mt-625 {
  margin-top: 6.25rem;
}

/* 內距 */
/* 5px */
.py-03125 {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}
/* 20px */
.p-125 {
  padding: 1.25rem;
}

/* 色彩 */

/* 搜尋輸入框啟用後的外觀設定 */
.search-form input:focus {
  outline: none;
}
.search-btn:hover {
  background-color: #d4d4d44d !important;
}

#hot-product .card ul,
#new-product .card ul {
  bottom: -60px;
  transition: 0.3s;
}

#hot-product .card:hover ul,
#new-product .card:hover ul {
  bottom: 0;
}

#hot-product .card ul li:hover,
#new-product .card ul li:hover {
  background-color: #d3d3d32f;
}

#hot-product .card-text span::before,
#new-product .card-text span::before {
  content: "NT$ ";
}

#hot-product .card-text span::after,
#new-product .card-text span::after {
  content: " 元";
}